{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Threat Database{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.threat') }}">New Threat</a>
  {% endif %}
{% endblock %}


{% block content %}
  {% for threat in threats %}
    <article class="post">
      <header>
        <div>
          <h1>{{ threat['title'] }}</h1>
          <div class="about">by {{ threat['username'] }} on {{ threat['updated_at'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == threat['author_user_id'] %}
          <a class="action" href="{{ url_for('blog.edit_threat', id=threat['id']) }}">Edit</a>
        {% endif %}


      </header>
      <p class="body">IOC's: {{ threat['Field1'] }}, {{ threat['Field2'] }}, {{ threat['Field3'] }}, {{ threat['Field4'] }}</p>
      <p class="body">Description:<br><br>{{ threat['description'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}

  {% endfor %}
{% endblock %}